<form class='top_spacer' action='/create' method='post'>
  <fieldset>
    <legend><span class='big'>Please give us your friends info</span><br>(without their permission, of course)</legend>
    <label><strong>Name</strong></label>
    <input type="text" name='name' placeholder="Your friends name">
    <span class="help-block">First then Last, durr.</span>

    <label><strong>Age</strong></label>
    <input type="text" name='age' placeholder="Your friends age">
    <span class="help-block">How old you think they are, <br>not how old they say they are.</span>

    <label><strong>Gender</strong></label>
    <input type="text" name='gender' placeholder="Your friends gender">
    <span class="help-block">Please enter an 'm' or an 'f'.</span>

    <label><strong>Image</strong></label>
    <input type="text" name='image' placeholder="http://...">
    <span class="help-block">Please enter a url of their image,<br>preferably one where they are drunk</span>

    <label><strong>Twitter username</strong></label>
    <input type="text" name='twitter_name' placeholder="@username">
    <span class="help-block">We will follow them.</span>

    <label><strong>Github name</strong></label>
    <input type="text" name='github_name'>
    <span class="help-block">We will clone then fork them.</span>

    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>