<br>
<br>
<br>
  <div class="row">
    <div class="span12">

      <h1 class="huge" style='text-align: center'>Welcome to Farcebook!</h1>
      <p class='lead'style='text-align: center'>
        Just like your favorite social media site...
        <br>
        with an exponentially narrower feature set!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="span12 orange">
      <img class="full_frame" src="http://graphics8.nytimes.com/images/2005/11/23/garden/24kid.xl.jpg">

    </div>
  </div>



