<!doctype html>
  <html lang='en'>

    <head>
      <meta charset='utf-8'>
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="/css/style.css">
      <script src='/js/jquery-1.9.1.js'></script>
      <script src='/bootstrap/js/bootstrap.js'></script>
      <title>Twitter Bootstrap Demo</title>
    </head>

    <body>

      <div class="container">
        <div class='row'>
          <div class='span12'>
            <div class="navbar">
              <div class="navbar-inner">
                <a class="brand" href="#">Title</a>
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span4"><h1>Hello TB</h1></div>
          <div class="span8">
            <a class='btn btn-danger' href="#">PRESS ME!</a>
            <button class='btn btn-primary'>NO, PRESS ME!</button>
            <i class="icon-ban-circle"></i>
          </div>
        </div>
        <div class="row">
          <div class="span3">c
            <div class="btn-group">
              <a class="btn" href="#"><i class="icon-align-left"></i></a>
              <a class="btn" href="#"><i class="icon-align-center"></i></a>
              <a class="btn" href="#"><i class="icon-align-right"></i></a>
              <a class="btn" href="#"><i class="icon-align-justify"></i></a>
            </div>



          </div>
          <div class="span3">
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Action
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">Action</a></li>
                <li><a tabindex="-1" href="#">Another action</a></li>
                <li><a tabindex="-1" href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="#">Separated link</a></li>
              </u>
              </ul>
            </div>
          </div>
          <div class="span3">e</div>
          <div class="span3">f</div>

        </div>
        <div class="row">
          <div class="span2">g</div>
          <div class="span10">
            h
            <div class="row">
              <div class="span5">h1</div>
              <div class="span5">h2</div>
            </div>
          </div>
        </div>
      </div>




        <%= yield %>





    </body>

  </html>