<div>

  <h2>ToDo app</h2>

  <p>
    Why are you reading this? I'm flattered by the attention, but you have things to do. Quit wasting time and get back to your tasks. I will not be your means of procrastination!
  </p>
</div>