<!doctype html>
  <html lang='en'>

    <head>
      <meta charset='utf-8'>
      <title>Calculator</title>
      <link rel="stylesheet" href="/style.css">
      <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
      <!-- <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssreset/cssreset-min.css">
 -->
    </head>

    <body>
      <%= yield %>
    </body>

  </html>